/* Interaction */

.button{
    display: inline-block;
    padding: $base/2 $base*2;
    border: $border;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    background: $primary;
}

input[type="text"],
textarea{
    padding: $base;
    border: $border;
}

textarea{
    border: $border;
}