<template name="columns">
  <section>
    <form class="new-card">
    <h2>Add a new card</h2>
      <ul class="form">
        <li class="field">
          <input type="text" name="title" placeholder="Title" />
        </li>
        <li class="field">
          <textarea type="text" name="description" placeholder="Description"></textarea>
        </li>
        <li class="field">
          <input type="submit" value="Add" class="button"/>
        </li>
      </ul>
    </form>
  </section>

  <section>
    {{#each columns}}
      {{>column}}
    {{/each}}
  </section>
</template>

<template name="column">
  <div class="column">
      <h1>{{this.title}}</h1>
      <ul>
        <li class="card card--empty"></li>
        {{#each cards}}
            <li class="card card--column">
            <a href="/card/{{_id}}">
              <h2 class="card__title">{{title}}</h2>
              <p class="card__description">{{description}}</p>
              </a>
            </li>

          {{/each}}
      </ul>
  </div>
</template>